.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-contents {
    margin: auto;
    width: 950px;
    border-style: groove;
    border-radius: 5px;
    background-color: white;
}

.desc-paragraph {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.recipe-links {
    height: 250px;
    width: 250px;
    border-style: groove;
    border-color: #5C4120;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
}

.grid-ramen-pict {
    padding: 15px;
}

.grid-applepie-pict {
    padding: 15px;
}

.grid-cheesecake-pict {
    padding: 15px;
}

.topnav {
    margin:auto;
    text-align: center;
    border-style: groove;
    border-radius: 20px;
    padding-top: 20px;
    height: 50px;
    width: 100px;
    background-color:white;
}

html {
    background-image: url("../pics/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Charis SIL', serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 25px;
}

ol {
    padding-left: 25px;
    padding-right: 10px;
}

.body-content {
    margin: auto;
    width: 860px;
    border-style: groove;
    border-radius: 5px;
    background-color: white;
}