.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

html {
    display: table;
    margin: auto;
}

body {
    font-family: 'Charis SIL', serif;
    display: table-cell;
    vertical-align: middle;
}